ul
{
    margin: 0;
    padding: 0;

    list-style-type: none;

}
.wrapper
{
    width: 1080px;
    height: 205px;
    border: #d3d3d3;
    /*background: #eee;*/
}

.wrapper li
{
    width: 192px;
    height: 205px;
    float: left;
    overflow: hidden;
}

.wrapper li a
{
    display: block;
    width: 192px;
    height: 205px;
    margin: 0;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

.wrapper li a img
{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 106px;
}

.wrapper .info
{
    position: absolute;
    padding: 0;
    top: 0;
    left: 0;
    width: 170px;
    padding: 4px 10px;
}

.wrapper .info h3
{
    font-size: 14px;
    font-weight: 700;
}

.wrapper .info p
{
    color: #432BBF;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    width: 100px;
    overflow: hidden;
}

.wrapper .info .price
{
    font-size: 12px;
    font-style: italic;
    color: #432BBF;
    height: 35px;
}

.wrapper .info .line
{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 205px;
    border: 1px dashed #000;
}

.wrapper .info .mask   /*遮罩层*/
{
    position: absolute;
    top: 0;
    left: 0;
    width: 192px;
    height: 205px;
    opacity: 0;/*透明度*/
    background: #000;
}

.wrapper .big a:hover .mask  /*hovor伪类 鼠标悬停*/
{
    opacity: 0.2;
}

.wrapper li.big,li .big a/*展开后*/
{
    width: 192px;

}

.wrapper li.big img /*展开后图片大小*/
{
    width: 192px;
    height: 205px;
    right: 0;
    bottom: 0;
}

.wrapper li.big .info  /*展开后文字外层宽度*/
{
    padding: 0;
    width: 192px;
    height: 170px;
}

.wrapper li.big h3
{
    font-size: 22px;
}

.wrapper li.big p

{
    font-size: 20px;
}

.wrapper li.big .price
{
    font-size: 18px;
    padding-top: 7px;
}

/*.wrapper li.big a:hover.mask
{
    opacity: 0;
}*/